extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Tyler Degand

        p.lead.text-light
          | Web Developer

        .portfolio-bio
          p
            | Self-motivated Web Developer who adds a fresh perspective to web-based products through development experience. Passionate, hardworking with penchant for developing customized interfaces that factor in unique demands for accessibility, reachability and security. Pulls from active knowledge of current technology landscape to promote best practices in web design.
            br
            br
            |My path has been paved by my own perseverance and motivation to learn new skills. I'm mostly self taught but I have taken classes in order to gain knowledge and an understanding of how the World Wide Web works so I can bring content to the humans of the world.
            | I will continue to pave my path and keep learning and working towards always becoming a better developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li Javascript
          li Node.js
          li Express.js
          li Pug
          li Git
          li React
          li SQL
          li Sequelize
          li sqlite3

        h6 Contact Info
        ul
          li 785-341-1595
          li tylerdegand@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/tyler-degand-21252bb9/' target="_blank") LinkedIn
        a.button.expanded(href='https://github.com/tdegand' target="_blank") GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  