extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        
        h1 Tyler Degand

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | I'm a motivated individual looking to further my career in the information technology world. I bring a fresh perspective and understanding to computer systems, Software and Websites through my own experience and I'm always willing to learn new things.
            br
            br
            |My path has been paved by my own perserverance and motivation to learn new skills. I'm mostly self taught but I have taken classes in order to gain knowledge and an understanding of how the World Wide Web works so I can bring content to the humans of the world.
            | I will continue to pave my path and keep learning and working towardsalways becoming a better developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML
          li CSS
          li Javascript
          li Node.js
          li Express.js
          li Pug
          li Git

        h6 Contact Info
        ul
          li 785-341-1595
          li tylerdegand@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/tyler-degand-21252bb9/') LinkedIn
        a.button.expanded(href='https://github.com/tdegand') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  