extends layout.pug

block content 

    nav.grid-container.portfolio-breadcrumb
        a(href='/') â† Back
    article.error-container
            p.error-message #{err.message}
            p.error-status #{err.status}
            p.error-stack #{err.stack}