<!DOCTYPE html>
html(class="no-js" lang="en" dir="ltr")
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(property='og:title' content='Tyler Degand')
    meta(property='og:image' content='/static/images/facebook-og.jpg')
    meta(property='og:description' content='Portfolio of my work')
    meta(property='og:url' content='https://www.tylerdegand.com')
    meta(property='og:site_name' content='Portfolio')
    title TD Portfolio
    link(href='https://fonts.googleapis.com/css?family=Merriweather:300,400,400i,700,800', rel='stylesheet')
    link(rel='stylesheet', href='/static/css/foundation.css')
    link(rel='stylesheet', href='/static/css/style.css')
    script(src="https://kit.fontawesome.com/8d5245b840.js" crossorigin="anonymous")
  body
    #my-info.off-canvas.position-left.reveal-for-large.portfolio-me(data-off-canvas='')
      .grid-y.grid-padding-x(style='height: 100%;')
        block sidebar
          br
          .cell.shrink
            img.thumbnail(src='/static/images/headshot.jpg')
          .cell.auto

            h5 Tyler Degand

            p.text-light
              | I'm a motivated developer looking to further my career in the information technology world. Check out my work!

            a(href='./about') About Me →

            #social-container
              a.social(href='https://github.com/tdegand' target='_blank')
                i.fab.fa-github-square.fa-4x
              a.social(href='https://www.linkedin.com/in/tyler-degand-21252bb9/' target='_blank')
                i.fab.fa-linkedin.fa-4x

    .off-canvas-content(data-off-canvas-content='')
      .title-bar.hide-for-large
        .title-bar-left
          button.menu-icon(type='button', data-toggle='my-info')

          span.title-bar-title Tyler Degand
      block content
        

      
  script(src='/static/js/vendor/jquery.js')
  script(src='/static/js/vendor/what-input.js')
  script(src='/static/js/vendor/foundation.js')
  script(src='/static/js/scripts.js')
