
h1,h2,h3,h4,h5,p{
  font-family: 'Merriweather', serif;
}

  h5{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
  }

  h6{
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    font-weight: 600;
  }

  p{
    font-size: 15px;
    color: #666;
  }

.round{
  border-radius: 5px;
}

.text-light{
  color: #666;
}

.button{
  background-color: #333;
}

.button:hover{
  background-color: #111;
}

a{
  color: #333;
}

a:hover{
  color: #111;
}

.image{
  display: inline-block;
  margin: 30px 0 5px 0;
  max-width: 100%;
  margin-bottom: 1rem;
  border: solid 4px #05445E;;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(10, 10, 10, 0.2);
  line-height: 0;
}

.portfolio-me{
  padding: 20px;
  background: #05445E;
  color: #fff;
  box-shadow: none !important;
}

  .portfolio-me p{
    font-size: 14px;
    color: #fff;
  }

  .portfolio-me a{
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: #cacaca;
    font-size: 13px;
    letter-spacing: 2.5px;
    -webkit-text-transform: uppercase;
    text-transform: uppercase;
    transition: ease-out .3s;
    text-decoration: underline;
  }

  .portfolio-me a:hover{
    color: #ffae00;
  }

.portfolio-breadcrumb{
  margin: 0;
  padding: 20px;
  border-bottom: 1px solid #333;
}

 .portfolio-breadcrumb a{
   font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
   font-weight: 600;
   font-size: 13px;
   letter-spacing: 2.5px;
   -webkit-text-transform: uppercase;
   text-transform: uppercase;
 }

.portfolio-intro{
  padding: 40px 30px 30px;
}

.portfolio-intro p{
  border-bottom: 1px solid #333;
  padding-bottom: 40px;
}

.portfolio-index{
  padding: 10px 50px;
}

  .portfolio-index .thumbnail{
    margin-bottom: 5px;
  }

  .portfolio-index a{
    color: #222;
  }

  .portfolio-index .cell{
    margin-bottom: 15px;
  }

    .portfolio-index .cell h5{
      letter-spacing: 1px;
      font-weight: 600;
    }

.portfolio-meta{
  padding-left: 20px;
}

  .portfolio-meta .button{
    margin-bottom: 5px;
    background-color: #05445E;
    color: #fff;
    border-radius: 40px;
    transition: ease-out .2s;
  }
  .portfolio-meta .button:hover{
    color: #131313;
    background-color: #ffae00;
  }

.portfolio-project p{
  border: none;
}

.portfolio-project li{
  font-size: 13px;
  color: #444;
}

.portfolio-bio{
    line-height: 25px;
}

.error-container {
  margin: 15px;
}
.error-message {
  text-align: center;
  margin: 20px;
}
#social-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 200px;
  margin-top: 150px;
}
.social{
  display: block;
  position: relative;
  margin: 10px 30px;
  width: max-content;
}
.social::after{
  content: '';
  display: block;
  padding: 5px 0;
  border-bottom: solid 2px #ffae00;
  width: 0;
  position: absolute;
  left: 0;
  transition: .5s ease-out;
}

.social:hover::after{
  width: 100%;
}

img.icon {
  height: 30px;
  width: auto;
}

@media screen and (Max-width: 768px) {
  .grid-x > .small-6{
    width: 100%;
    padding: 0;
  }
  .portfolio-meta .button {
    margin-left: auto;
    margin-right: auto;
    max-width: 15em;
  }
  #social-container{
    flex-direction: row;
    height: 100px;
    margin-top: 50px;
  }
}
